body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
}

.container{
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    height: 75px;
}

.nav_left{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: larger;
}

.nav_left > img{
    height: 40px;
}

.nav_right{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav_right > a{
    text-decoration: none;
    color: gray;    
}

.nav_right > a:hover{
    color: black;
}

.download{
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    padding: 12px 20px;
}

.download:hover{
    background-color: rgb(46, 45, 45);
}

.container1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 13%;
}

h1{
    font-size: 450%;
}

.bot_text{
    color: #1ABC9C;
    line-height: 1.2;
}

.mid_left > p{
    margin-top: -5%;
    color: gray;
    font-size: larger;
}

.mid_right{
    margin-right: 15%;
}

img[src="/image/1.png"]{
    max-height: 800px;
    width: auto;
    object-fit: cover;
}

img[src="/image/1.png"]:hover{
    content: url("/image/2.png");
}

.download1{
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    padding: 15px 20px;
    width: 30%;
}